.container-imc {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(.3125rem);
    width: 50rem;
    padding: 4.375rem 0;
    border-radius: 0.625rem;
    display: flex;
    align-items: center;

    .image {
        // background-color: blue;
        width: 50%;
        text-align: center;
    }

    .content {
        // background-color: red;
        width: 50%;
        color: $text;
        padding-left: 20px;
        padding-right: 20px;

        h1 {
            color: $title-text;
            font-size: 32px;
            margin-top: 35.008px;
        }

        form {
            margin-top: 25.008px;
            display: flex;
            flex-direction: column;

            input {
                //width: 360px;
                //box-sizing: border-box;
                border: solid .0625rem #CCCCCC;
                height: 30px;
                border-radius: .1875rem;
                margin-bottom: 10px;
            }

            button {
                @include botao(); //chamando o mixin botao
            }
        }
    }

    // alt + z para alternar px entre rem

    #result {
        text-align: center;
        margin-top: .9375rem;
        // background-color: green;
        color: white;
        padding: .9375rem 0;
        border-radius: 1.25rem;
    }

    @media (max-width: 53.75rem){
        width: 90%;
        
        .image {
            display: none;
        }

        .content {
            width: 75%;
        }
    }

}