$brand-blue: #003366;
$brand-red: #FF3131;
$text: #666666;
$title-text: #333333;

//$spacer: 16;

//.mt-1{
//    margin-top: $spacer*0.25px;
//}

// comenta apenas no sass
/* comenta no .css tbm*/

// podemos criar uma variável usando $, por exemplo: $brand-blue: '#003366' 

//ou 

// :root{
//     --brand: #003366;  
// }


